body {
  background-color: #143959;
}

h1 {
  color: #5a86bf;
  font-size: 28px;
  text-align: center;
}

p {
  font-size: 16px;
  color: #9babbf;
}

img {
  width: 150px;
  height: 150px;
  display: block;
  margin: 10px auto;
  border-radius: 10px;
}

h2 {
  color: #5a86bf;
}

h3 {
  color: #2b88d9;
}

ul {
  color: #9babbf;
  font-size: 15px;
}

ol {
  color: #9babbf;
  font-size: 15px;
}

a {
  color: #9babbf;
  text-decoration: none;
}

i {
  color: #3084f2;
}
