* {
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f4f4f4;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container {
  height: 400px;
  width: 300px;
  margin: 20px auto;
  padding: 20px;
  background-color: #fff;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  /* overflow-y: scroll; */
  position: relative; /* para usar absolute en caja 3 */
}

.caja {
  height: 100px;
  width: 100px;
  padding: 20px;
  margin: 10px 0;
  background-color: #e0e0e0;
  border-radius: 4px;
  font-size: 1.2em;
  display: flex;
  justify-content: center;
  align-items: center;
}

.caja1 {
  background-color: blueviolet;
  position: relative;
  left: 150px;
  top: 440px;
}

.caja2 {
  background-color: brown;
  position: static;
}

.caja3 {
  background-color: darkblue;
  position: absolute;
  top: 20px;
  left: 200px;
}

.caja4 {
  background-color: darkmagenta;
  position: fixed;
  bottom: 20px;
  right: 20px;
}

.caja5 {
  background-color: chocolate;
  position: sticky;
  top: 20px;
}
