body {
    background-color: #143959;
}

h1 {
    color: #5A86BF;
    font-size: 28px;
    text-align: center;
}

p {
    font-size: 16px;
    color: #9BABBF;
}

img {
    width: 150px;
    height: 150px;
    display: block;
    margin: 10px auto;
    border-radius: 10px;
}

h2 {
    color: #5A86BF;
}

h3 {
    color: #2B88D9;
}

ul {
    color: #9BABBF;
    font-size: 15px;
}

ol {
    color: #9BABBF;
    font-size: 15px;
}

a {
    color: #9BABBF;
    text-decoration: none;
}

i {
    color: #3084F2;
}